nav a:visited{
	color: lightgray;
}
nav a:hover{
	color:white;
}
nav a:active{
	color:gold;
}
nav a:link{
	color:maroon;
}

html{
	background-color: white	;
}	
body {
color: black;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color:#f0f0f0
  font-weight:bold;
}

nav{
	margin: 0px;
	overflow: hidden;
	background-color:black;
	font-weight: bold;
	position: fixed;
	transform:translate(0px,-150px);
}
header{
	padding-bottom:150px;
}

.navbar{
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
	float:left;
	margin:19px;
	color:white;
	padding-right:53px;
	transform:translate(40px,0px);
	
}

img{
	padding-top:200px;
	width:50%;
	height:50%;
}
img:hover{
	width:100%;
	height:100%;
	transition:1s;
}
	
.imglogo{
	padding:0;
	visibility:visible;
	float:left;
	text-align: center;
	transform: translate(10px,10px);
	width: 200px;
	height: 35px;
}

